body {
    display: flex;
    flex-direction: column;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
 

}

main{
    margin-left: 150px;
    padding: 0px 10px;
}
footer{
    border-top: 1px black solid;
    position:fixed;
    left:0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-image: url(/images/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52393.avif);
    background-repeat: repeat-x;
}

h1{
    
    border: 2px black solid;
    text-align: center;
}

.sidenav{
    height: 70%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-image: url(/images/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52393.avif);
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;

  }
  .sidenav a:hover
  {
    color: #fff7f7;

  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }  
  
  .bg-image {
    /* The image used */
    background-image: url("/images/clown_face.webp");
  
    /* Add the blur effect */
    -webkit-filter: blur(8px);
    filter: blur(8px);
  
    /* Full height */
    height: 3%;
  width:100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  } */
/* nav{
    color: black;
    /* background-color: coral; */
    /* display:block;
    gap:10em; 
} */

/* nav a {
    color: #000;
} */ 

/* .fave {
    background-color: aqua;
}
.notfave {
    background-color: gray;
} */
  img {
    height: 300px;
    width: 60%;
    border: 5px blue solid;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
/*img:hover{
    cursor: pointer;
} */
